* {
  box-sizing: border-box;
}

html,
body {
  height: 100%; /* needed to be able to use 100% height in the columns */
  overflow: hidden;
}

#root,
.App {
  height: 100%;
}

.wrapper {
  height: 100%;
  display: flex;
}

.columns {
  padding: 3em;
  overflow: auto;
}

.operation-controls {
  display: flex;
}

.operation-controls button {
  margin-right: 1em;
  width: 170px;
}

.path-viewer button {
  text-align: left;
  color: rgb(216, 216, 216);
}

.path-viewer button:hover {
  text-align: left;
  color: white;
  border-color: white;
}
textarea {
  width: 100%;
}
textarea:disabled {
  background: rgb(216, 216, 216);
}

button:disabled {
  background: rgb(216, 216, 216);
  pointer-events: none;
  border-color: rgb(216, 216, 216);
}

.status-debugger {
  position: fixed;
  right: 0;
  top: 0;
  padding: 1em;
  font-size: 0.7em;
  background: yellow;
  color: black;
}
